commands:
  01_change_truststore_password:
    command: |
      export TRUSTSTORE_PASSWORD=$(aws secretsmanager get-secret-value --secret-id ureapir/truststore_password --query SecretString --output text)
      keytool -storepasswd -new $TRUSTSTORE_PASSWORD -keystore /usr/lib/jvm/jre/lib/security/cacerts -storepass changeit -noprompt
  02_install_rds_cert:
    command: |
      keytool -import -alias rds -file resources/us-east-2-bundle.pem -keystore /usr/lib/jvm/jre/lib/security/cacerts -storepass $TRUSTSTORE_PASSWORD -noprompt
